.row.man
  .col-xs-24.col-sm-24.col-md-24.col-lg-24.mvxxl.txt-c
    a(href='https://cloudfoundry.org', target='_blank')
      img.txt-b(src='/images/cloud-foundry.svg', width='46', alt='Cloud Foundry', title='Cloud Foundry')
    span.h1.em-high.txt-m.mhl.type-neutral-4 
     | + 
    a(href='https://nodejs.org', target='_blank')
      img.txt-m(src='/images/nodejs_logo.png', width='46', alt='Node.js', title='Node.js')
    span.h1.em-high.txt-m.mhl.type-neutral-4       
     | + 
    a(href='https://nodejs.org', target='_blank')
      img.txt-m(src='/images/govuk.png', width='46', alt='Gov PaaS', title='Gov.uk')
.row.man        
     span.h1.em-high.txt-m.mhl.type-demo-0 Hello World!
.row.man
  if app_index == 0
    span.h1.em-high.txt-m.mhl.type-demo-0 App Instance Id #{ app_instance || '@app_instance'}
  else if app_index == 1
    span.h1.em-high.txt-m.mhl.type-demo-1 App Instance Id #{ app_instance || '@app_instance'}
  else if app_index == 2
    span.h1.em-high.txt-m.mhl.type-demo-2  App Instance Id #{ app_instance || '@app_instance'}    
  else
    span.h1.em-high.txt-m.mhl.type-neutral-4  App Instance Id Running Locally!